################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactProBlazor/obj
/ContactProBlazor.Client/obj
/ContactProBlazor/ContactProBlazor.csproj.user
/ContactProBlazor/bin/Debug/net10.0
/ContactProBlazor.Client/bin/Debug/net10.0
