@page "/contacts/edit/{contactId:int}"
@attribute [Authorize]
@rendermode InteractiveServer

@inject IContactDTOService ContactService
@inject NavigationManager NavigationManager

<PageTitle>ContactPro | @(contact?.FullName ?? "Loading...")</PageTitle>

@if (contact != null)
{
    <div class="container">
        <div class="p-3 my-5 border border-2 shadow-lg bg-light">
            <ContactForm Contact="contact" OnSubmit="HandleSubmit" />
        </div>
    </div>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState>? authStateTask { get; set; }

    [Parameter]
    public int ContactId { get; set; }

    private UserInfo? userInfo;
    private ContactDTO? contact;

    protected override async Task OnInitializedAsync()
    {
        userInfo = await UserInfoHelper.GetUserInfoAsync(authStateTask);
        contact = await ContactService.GetContactByIdAsync(ContactId, userInfo!.UserId);

        if (contact == null)
        {
            NavigationManager.NavigateTo("/contacts");
        }
    }

    private async Task HandleSubmit(ContactDTO contact)
    {
        if (userInfo != null)
        {
            await ContactService.UpdateContactAsync(contact, userInfo!.UserId);
            NavigationManager.NavigateTo("/contacts");
        }
    }
}