@page "/contacts/email/{contactId:int}"
@attribute [Authorize]
@rendermode InteractiveServer

@inject IContactDTOService ContactService
@inject NavigationManager NavigationManager

@if (emailData != null)
{
    <div class="container">
        <div class="card shadow-lg my-3">
            <div class="card-body">
                <EmailForm EmailData="emailData" OnSubmit="SendEmailAsync" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ContactId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authStateTask { get; set; }

    private ContactDTO? contact;
    private UserInfo? userInfo;
    private EmailData? emailData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(authStateTask);
            contact = await ContactService.GetContactByIdAsync(ContactId, userInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

        if (contact != null)
        {
            emailData = new EmailData()
            {
                Recipients = contact.Email!,
                Subject = $"Message for {contact.FullName}",
                Body = string.Empty
            };
        }
        else
        {
            NavigationManager.NavigateTo("/contacts");
        }
    }

    private async Task SendEmailAsync(EmailData emailData)
    {
        string message = "Something went wrong! Please try again later.";

        NavigationManager.NavigateTo($"/contacts?message={message}");
    }
}