@page "/contacts"
@attribute [Authorize]
@rendermode InteractiveServer

@inject IContactDTOService ContactService
@inject ICategoryDTOService CategoryService
@inject NavigationManager NavigationManager

<PageTitle>ContactPro | Contacts</PageTitle>

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>
                All Contacts
            </h1>
        </div>
        <div class="col text-end">
            <a href="/contacts/create" class="btn btn-primary rounded-pill">
                New Contact
            </a>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12 col-lg-4">
            <div class="mb-3 side-nav">
                <form @onsubmit="SearchContacts">
                    <div class="input-group">
                        <InputText class="form-group" type="search" placeholder="Search Contacts..." @bind-Value="searchInput" />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </form>
                <div class="mt-5">
                    <label class="form-label">
                        Category Filter
                    </label>
                    <InputSelect class="form-select" @bind-Value="CategoryId">
                        <option value="">All Categories</option>

                        @foreach (CategoryDTO category in categories)
                        {
                            <option value="@category.Id">
                                @category.Name
                            </option>
                        }
                    </InputSelect>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(toastMessage))
            {
                <ToastMessage @key="messageId" Message="@toastMessage" Color="@toastColor" />
            }
        </div>
        <div class="col-12 col-lg-8 mb-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
                @if (contacts != null && contacts.Count() > 0)
                {
                    foreach (ContactDTO contact in contacts.OrderBy(c => c.LastName).ThenBy(c => c.FirstName))
                    {
                        <div class="col">
                            <ContactCard Contact="contact" OnDelete="DeleteContactAsync" />
                        </div>
                    }
                }
                else
                {
                    <div class="text-center side-nav">
                        <h4>
                            No contacts found!
                        </h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authStateTask { get; set; }

    [SupplyParameterFromQuery]
    private int? CategoryId { get; set; }

    [SupplyParameterFromQuery]
    private string? SearchTerm { get; set; }

    private string? searchInput;
    private string? toastMessage;
    private string? toastColor;
    private Guid messageId = Guid.NewGuid(); // Used to force re-render of ToastMessage when showing a new message
    private UserInfo? userInfo;
    private IEnumerable<ContactDTO>? contacts = [];
    private IEnumerable<CategoryDTO>? categories = [];

    // Runs once on startup
    protected override async Task OnInitializedAsync()
    {
        userInfo = await UserInfoHelper.GetUserInfoAsync(authStateTask);

        // Always try when querying DB
        try
        {
            categories = await CategoryService.GetCategoriesAsync(userInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    // Runs every time a parameter is set, including on initial load and when the category filter changes
    protected override async Task OnParametersSetAsync()
    {
        userInfo ??= await UserInfoHelper.GetUserInfoAsync(authStateTask);
        searchInput = SearchTerm;
        CategoryId = null;

        try
        {
            if (!string.IsNullOrWhiteSpace(SearchTerm))
            {
                contacts = await ContactService.SearchContactsAsync(SearchTerm, userInfo!.UserId);
            }
            else
            {
                contacts = await ContactService.GetContactsAsync(userInfo!.UserId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ShowToastMessage("Failed to load contacts. Please try again.", "danger");
        }
    }

    private async Task DeleteContactAsync(int id)
    {
        try
        {
            await ContactService.DeleteContactAsync(id, userInfo!.UserId);

            // Could be in searching/filtering state so best to just remove the deleted contact
            contacts = contacts.Where(c => c.Id != id);

            ShowToastMessage("Contact deleted successfully!", "success");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ShowToastMessage("Failed to delete contact. Please try again.", "danger");
        }
    }

    private void SearchContacts()
    {
        Dictionary<string, object?> queryParameters = new Dictionary<string, object?>
        {
            { nameof(SearchTerm), searchInput }
        };

        string url = NavigationManager.GetUriWithQueryParameters(queryParameters);

        // This will trigger OnParametersSetAsync to run again with the new SearchTerm query parameter, refreshing the page and showing the search results
        NavigationManager.NavigateTo(url);
    }

    private void ShowToastMessage(string message, string color)
    {
        toastMessage = message;
        toastColor = color;
        messageId = Guid.NewGuid(); // Force re-render of ToastMessage when showing a new message
    }
}