@page "/contacts"
@attribute [Authorize]
@rendermode InteractiveServer

@inject IContactDTOService ContactService
<PageTitle>ContactPro | Contacts</PageTitle>

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>
                All Contacts
            </h1>
        </div>
        <div class="col text-end">
            <a href="/contacts/create" class="btn btn-primary rounded-pill">
                New Contact
            </a>
        </div>
    </div>
    <div class="row gap-3">
        <div class="col-12 col-lg-4">
            <div class="mb-3">
                <form>
                    <div class="input-group">
                        <InputText class="form-group" type="search" placeholder="Search Contacts..." />
                        <input type="submit" class="btn btn-primary" value="search" />
                    </div>
                </form>
                <div class="mt-5">
                    <label class="form-label">
                        Category Filter
                    </label>
                    <InputSelect class="form-select" @bind-Value="CategoryId">
                        <option value="">All Categories</option>
                    </InputSelect>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">

        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authStateTask { get; set; }

    [SupplyParameterFromQuery]
    private int? CategoryId { get; set; }

    private UserInfo? userInfo;
    private IEnumerable<ContactDTO>? contacts = [];
    private IEnumerable<CategoryDTO>? categories = [];

    protected override async Task OnInitializedAsync()
    {
        userInfo = await UserInfoHelper.GetUserInfoAsync(authStateTask);
    }
}