.side-nav {
    border-radius: .5rem;
    border-color: var(--cf-theme-500);
    border-style: solid;
    border-width: 1px;
    background-color: var(--cf-theme-150);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}

.side-nav.form-control, .side-nav.form-select {
    border-color: var(--cf-theme-300);
}