.register-card {
    margin: auto;
    max-width: 576px;
    flex-grow: 1;
    padding: 1rem;
}

.register-card .card-header {
    background-color: var(--cf-theme-600);
}

#profile-pic-preview {
    height: 6rem;
}