<div id="@accordionId" class="accordion">
    @foreach (var category in Categories)
    {
        <CategoryAccordionItem @key="category.Id" Category="category" ParentId="@accordionId" />
    }
</div>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<CategoryDTO> Categories { get; set; } = [];

    private string accordionId = Guid.NewGuid().ToString();
}
