@if (Category != null)
{
    <div class="accordion-item">
        <div class="accordion-header">
            @if (status == Status.Viewing)
            {
                <div class="d-lg-flex gap-3 p-3">
                    <div class="flex-grow-1 hstack gap-2 align-items-center" role="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Category.Id" aria-expanded="false">
                        <span class="badge bg-secondary rounded-pill small">
                            @Category.Contacts!.Count
                        </span>
                        <span>
                            @Category.Name
                        </span>
                    </div>
                    <div class="mt-2 mt-lg-0">
                        <span class="text-nowrap">
                            <a role="button" class="me-1">
                                <i class="bi bi-pencil-fill" aria-label="Edit Category"></i>
                            </a>
                            <a role="button" class="me-1">
                                <i class="bi bi-trash-fill text-danger" aria-label="Delete Category"></i>
                            </a>
                            <a role="button" class="me-1">
                                <i class="bi bi-eye-fill" aria-label="View Category"></i>
                            </a>
                            <a role="button" class="me-1">
                                <i class="bi bi-envelope-fill" aria-label="Email Category"></i>
                            </a>
                        </span>
                    </div>
                </div>
            }
            else if (status == Status.Editing)
            {
                <EditForm>

                </EditForm>
            }
            else if (status == Status.Deleting)
            {
                
            }
        </div>
        <div id="collapse-@Category.Id" class="accordion-collapse collapse" data-bs-parent="#@ParentId">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item text-center lead text-secondary">
                        No contacts in this category
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public string ParentId { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public CategoryDTO? Category { get; set; }

    private Status status = Status.Viewing;

    private enum Status
    {
        Viewing,
        Editing,
        Deleting
    }
}
