.square-img-container {
    position: relative;
    background-color: #EDF5FC;
    border-color: #D9D9D9;
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}