.square-img-container {
    position: relative;
    background-color: #EDF5FC;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    widows: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
