@implements IAsyncDisposable
@inject IJSRuntime JS

@if (!string.IsNullOrEmpty(Message))
{
    // @ref is used to get a reference to the toast element & pass the entire div below 
    <div class="toast text-@Color-emphasis bg-@Color-subtle border-@Color @(jsFailed ? "show" : "")" role="alert" aria-live="assertive" aria-atomic="true" @ref="toast">
        <div class="d-flex">
            <div class="toast-body flex-grow-1">
                @Message
            </div>
            <button type="button" class="btn-close m-2 mb-auto" data-bs-dismiss="toast" aria-label="Close">

            </button>
        </div>
    </div>
}

@code {
    /// <summary>
    /// The message to be displayed in the toast notification
    /// </summary>
    [Parameter, EditorRequired]
    public string? Message { get; set; }

    /// <summary>
    /// The color of the toast notification, can be set to any valid Bootstrap color class
    [Parameter]
    public string? Color { get; set; } = "success";

    /// <summary>
    /// Reference to the toast element for JavaScript interop to show and hide the toast notification
    /// </summary>
    private ElementReference? toast;

    // Imported JS file
    private IJSObjectReference? toastJSModule;
    private bool jsFailed = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Import the isolated js file for this component
                toastJSModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/UI/ToastMessage.razor.js");

                // Call the export function to initialize & show the toast
                await toastJSModule.InvokeVoidAsync("initToast", toast);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                jsFailed = true;
            }
        }
    }

    /// <summary>
    /// Any imported JS file should be disposed
    /// </summary>
    public async ValueTask DisposeAsync()
    {
        if (toastJSModule != null)
        {
            await toastJSModule.DisposeAsync();
        }
    }
}